suite_namespace: frontend\tests\acceptance
actor: AcceptanceTester
modules:
    enabled:
        - WebDriver:
            url: jackpot.loc
            browser: firefox
        - Yii2:
            part: init
