.cabinet {
  background: $pat-grass bottom no-repeat, linear-gradient(to bottom, #44dffb 0%,#f9f9f9 73%);
  background-size: contain;

}


//.form-group.field-user-avatar {
//  display: none;
//}

label.control-label {
  display: none;
}

input#user-avatar {
  display: none;
}


.form-group.field-user-avatar.has-success .help-block {
  position: absolute;
  top: auto;
  left: auto;
  bottom: -15px;
  width: 100%;
  margin: auto;
  color: #bd1616;
  font-size: 10px;
}


.user-logo-wrap {
  position: relative;
  width: 100px;
  margin: auto;
  bottom: -104px;
  div {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background: #406973 url("../images/cabinet/edit-pencil.png") no-repeat;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    border: 3px solid #406973;
    z-index: 1;
    cursor: pointer;
  }
}


.user-logo-container {
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 6px solid $add-color3;
  margin: auto;
  background: white;
}

.grass {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -3%;
  z-index: 2000;
  background: url(../images/common/grass.png) bottom no-repeat;
  background-size: contain, 14%;
  @media (max-width: $mobile-width) {
    height: 130px;
    bottom: 32px;
    top: auto;
    background: url(../images/common/grass.png) bottom no-repeat;
    background-size: cover;
    z-index: 1;
  }
  &__bush {
    background: url(../images/common/grass.png) bottom no-repeat, url(../images/cabinet/leaf-3.png) 38% bottom no-repeat;
    @media (max-width: $mobile-width) {
      height: 130px;
      bottom: 32px;
      top: auto;
      background: url(../images/common/grass.png) bottom no-repeat;
      background-size: cover;
      z-index: 1;
    }
  }
  &__stone {
    background: url(../images/common/grass.png) bottom no-repeat, url(../images/cabinet/leaf-3.png) 38% bottom no-repeat;
    @media (max-width: $mobile-width) {
      height: 130px;
      bottom: 32px;
      top: auto;
      background: url(../images/common/grass.png) bottom no-repeat;
      background-size: cover;
      z-index: 1;
    }
  }

}

.about-user-info {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 51.5%;
  height: 90vh;
  min-height: 730px;
  @media (max-width: $third-width) {
    width: 57%;
  }
  @media (max-width: $mobile-width) {
    width: 100%;
    min-height: 0;
    height: 100%;
  }

  &:after {
    content: '';
    @extend .pillar;
    @extend .pillar_all-pillar;
    @extend .pillar_position_right;
    //@extend .pillar_position_top;
    right: -6%;
  }


  &__wrapper {
    position: relative;
    bottom: 0;
    width: 46%;
    min-height: 480px;
    height: 59vh;
    margin: 0 auto;
    padding: 5% 2% 145px;
    z-index: 200;
    background: url(../images/common/pattern.png) top repeat-x, url(../images/cabinet/stone.png) bottom no-repeat;
    background-size: 5%, cover;

    @media (max-width: 1200px) {
      font-size: 0.8em;
      min-height: 380px;
      height: 0;
    }

    //background: url(../images/common/pattern.png) top repeat-x, url(../images/cabinet/leaf-3.png) bottom no-repeat, url(../images/cabinet/stone.png) bottom no-repeat;
    //background-size: 5%, 70%, cover;


    //border-image:  100% 0%/1 0 repeat;
    //border-top: 2em solid;
    //@media (max-width: $first-width) {
    //  bottom: -19%;
    //}
    //@media (max-width: 1100px) {
    //  margin-left: 24%;
    //  width: 52%;
    //}

    @media (max-width: $mobile-width) {
      width: 100%;
      margin: 0;
      min-height: 480px;
      height: 100%;
      padding: 5% 0%;
      font-size: 0.7em;
      background: $pat-stone bottom no-repeat;
      background-size: cover;
    }
    &:before {
      content: '';
      @extend .curtain;
      @extend .curtain_color_red-1;
      @extend .curtain_color_red-1_position_left;
    }
    &:after {
      content: '';
      @extend .curtain;
      @extend .curtain_color_red-1;
      @extend .curtain_color_red-1_position_right;
    }
  }

  &__user-logo {
    //width: 100px;
    height: 100px;
  }

  &__paragraph {
    position: relative;
    font-size: 1.2em;
    margin: 21px 0;
    @media (max-width: $mobile-width) {
      font-size: 2em;
    }
  }
  &__title {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 1.2em;
    display: inline-block;
    margin-top: 0;
  }

  &__info {
    margin: 20px 0 26px;
    font-family: $add-font;
  }


  &__user-name {
    font-family: $add-font;
    font-weight: bold;

  }
}



.disputes {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-end;
  flex-direction: column;
  width: 45%;
  height: 90vh;
  min-height: 730px;
  margin-right: 5%;
  background: url(../images/common/scene.png) bottom no-repeat;
  background-size: cover;
  @media (max-width: $third-width) {
    width: 37%;
  }
  @media (max-width: $mobile-width) {
    width: 100%;
    margin-right: 0;
    min-height: 650px;
    height: 55vh;
  }
  &:before {
    content: '';
    @extend .curtain;
    @extend .curtain_color_blue;
    @extend .curtain_color_red-1_position_left;
  }
  &:after {
    content: '';
    @extend .curtain;
    @extend .curtain_color_blue;
    @extend .curtain_color_red-1_position_right;
  }
  &__notes {
    position: absolute;
  }
  &__image {

    position: relative;
    bottom: -1%;
    //position: absolute;
    //bottom: 2%;
    //left: 0;
    //right: 0;
    @media (max-width: $third-width) {
      width: 50%;
    }
    @media (max-width: $mobile-width) {
      bottom: -2%;
      width: 73%;
      //margin-top: 11%;
    }
    img {
      width: 100%;
      //@media (max-width: $third-width) {
      //  width: 80%;
      //}
      //@media (max-width: $fourth-width) {
      //  width: 70%;
      //}
      @media (max-width: $mobile-width) {
        width: 50%;
      }
      @media (max-width: 450px) {
        width: 90%;
      }
    }
    &-container {
      height: 100px;
      margin: 15px 0 0 0;
      width: 100px;
      position: relative;
      //@media (max-width: $mobile-width) {
      // display: none;
      //}
    }
  }
  &__title {
    color: white;
    //position: relative;
    //top: 38%;
    @media (max-width: $mobile-width) {
      //top: 28%;
    }
  }
}

.wrap_cabinet {
  width: 100%;
}

.empty-block {
  position: absolute;
  width: 7.5%;
  //height: 100vh;
  min-height: 700px;
  @extend .pillar;
  @extend .pillar_all-pillar;
  @extend .pillar_position_right;
  &_left {
      @extend .pillar;
      @extend .pillar_all-pillar;
      @extend .pillar_position_left;
  }
}

.note1 {
  bottom: 0;
  left: 0;
}
.note2 {
  top: 39%;
  left: 32%;
}
.note3 {
  bottom: 0;
  right: 0;
}
.note4 {
  top: 0;
  left: 0;
}

.user-form__editing-container {
  width: 85%;
  margin: auto;
  h1 {
    font-size: 2em;
    //margin: 1.9em 0;
     margin: 0.8em 0;
  }
}

#change-password {
  margin-top: 83px;
}