._font {

  &__10em {
    font-size: 10em;
  }

  &__5em {
    font-size: 5em;
  }

  &__3em {
    font-size: 3em;
  }

  &__2-3em {
    font-size: 2.3em;
  }

  &__1-5em {
    font-size: 1.5em;
  }

  &__1-3em {
    font-size: 1.3em;
  }

  &__1-2em {
    font-size: 1.2em;
  }

  &__1em {
    font-size: 1em;
  }
}

@mixin mini-font_7em ($width) {
  @media (max-width: $width) {
    font-size: 7em;
  }
}

@mixin mini-font_2-4em ($width) {
  @media (max-width: $width) {
    font-size: 2.4em;
  }
}

@mixin mini-font_3em ($width) {
  @media (max-width: $width) {
    font-size: 3em;
  }
}

@mixin mini-font_2em ($width) {
  @media (max-width: $width) {
    font-size: 2em;
  }
}

@mixin mini-font_1-4em ($width) {
  @media (max-width: $width) {
    font-size: 1.4em;
  }
}

@mixin mini-font_1-2em ($width) {
  @media (max-width: $width) {
    font-size: 1.2em;
  }
}

@mixin mini-font_1-7em ($width) {
  @media (max-width: $width) {
    font-size: 1.7em;
  }
}

@mixin mini-font_1-3em ($width) {
  @media (max-width: $width) {
    font-size: 1.3em;
  }
}

@mixin mini-font_1em ($width) {
  @media (max-width: $width) {
    font-size: 1em;
  }
}

//
// колонны по бокам блока
//


.pillar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15%;
  z-index: 2000;
  background-size: contain;
  background-repeat: no-repeat;

  &_color_dark {
    background: $pat-dark-pillar-1 top left no-repeat, $pat-dark-pillar-3 bottom left no-repeat, $pat-dark-pillar-2 repeat-y;
    @media (max-width: $first-width) {
      background-size: 47%, 47%, 32.5%;
    }
  }

  &_color_grey {
    background: $pat-grey-pillar-1 top left no-repeat, $pat-grey-pillar-3 bottom left no-repeat, $pat-grey-pillar-2 repeat-y;
    @media (max-width: $first-width) {
      background-size: 47%, 47%, 32.5%;
    }
  }

  &_color_gold {
    background: $pat-gold-pillar-1 top left no-repeat, $pat-gold-pillar-3 bottom left no-repeat, $pat-gold-pillar-2 repeat-y;
    background-size: 47%, 47%, 32%;
    @media (max-width: $first-width) {
      background-size: 47%, 47%, 32.5%;
    }
  }

  &_all-pillar {
    position: absolute;
    z-index: 8000;
    background: $pat-all-pillar-1 top left no-repeat, $pat-all-pillar-3 bottom left no-repeat, $pat-all-pillar-2 top center repeat-y;
    background-size: 100%, 100%, 68.5%;
    @media (max-width: $first-width) {

    }
  }

  &_position_right {
    right: 0;
    transform: scale(-1, 1);
  }
  &_position_left {
    left: 0;
  }
  &_position_top {
    bottom: 6%;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}



//.pillar {
//  position: absolute;
//  top: 0;
//  bottom: 0;
//  width: 5%;
//  z-index: 2000;
//  background-size: contain;
//  background-repeat: no-repeat;
//
//  &_color_dark {
//    background: $pat-dark-pillar-1 top left no-repeat, $pat-dark-pillar-3 bottom left no-repeat, $pat-dark-pillar-2 top left repeat-y;
//    @media (max-width: $first-width) {
//      background-size: 47%, 47%, 32.5%;
//    }
//  }
//
//  &_color_grey {
//    background: $pat-grey-pillar-1 top left no-repeat, $pat-grey-pillar-3 bottom left no-repeat, $pat-grey-pillar-2 top left repeat-y;
//    @media (max-width: $first-width) {
//      background-size: 47%, 47%, 32.5%;
//    }
//  }
//
//  &_color_gold {
//    //background: $pat-gold-pillar-1 top left no-repeat, $pat-gold-pillar-3 bottom left no-repeat, $pat-gold-pillar-2 top left repeat-y;
//    //background-size: 99%, 99%, 68%;
//    background: $pat-gold-pillar-1  top left no-repeat, $pat-gold-pillar-3 bottom left no-repeat, $pat-gold-pillar-2 -1px repeat-y;
//    background-size: 99%, 99%, 102%;
//  }
//
//  &_all-pillar {
//    position: absolute;
//    z-index: 8000;
//    background: $pat-all-pillar-1 top left no-repeat, $pat-all-pillar-3 bottom left no-repeat, $pat-all-pillar-2 top center repeat-y;
//    background-size: 100%, 100%, 68.5%;
//    @media (max-width: $first-width) {
//
//    }
//  }
//
//  &_position_right {
//    right: 0;
//    transform: scale(-1, 1);
//  }
//  &_position_left {
//    left: 0;
//  }
//  &_position_top {
//    bottom: 6%;
//  }
//
//  @media (max-width: $mobile-width) {
//    display: none;
//  }
//}

//
// Занавеси по краям блока
//

.curtain {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 500;
  width: 14%;
  pointer-events: none;

  @media (max-width: 930px) {
    width: 15%;
  }
  @media (max-width: 860px) {
    width: 16%;
  }
  @media (max-width: 800px) {
    width: 17%;
  }
  &_position_left {
    left: 0;
    transform: scale(-1, 1);
    margin-left: 2%;
    background-position: top left;
  }
  &_position_right {
    right: 0;
    margin-right: 2%;
    background-position: top right;
  }
  &_color_red {
    background: $pat-curtain-red no-repeat;
    background-size: 100% 100%;
    @media (max-width: $mobile-width) {
      display: none;
    }
  }
  &_color_blue {
    background: $pat-curtain-blue no-repeat;
    background-size: 100% 100%;
    margin: 0;
    width: 33%;
    @media (max-width: 1500px) {
      width: 37%;
    }
    @media (max-width: 1276px) {
      width: 41%;
    }
  }
  &_color_red-1 {
    background: $pat-curtain-red-little no-repeat;
    background-size: contain;
    margin: 0;
    width: 40%;
    top: -6px;
    &_position_left {
      left: -2%;
      transform: scale(-1, 1);
      //margin-left: 2%;
      background-position: top left;
    }
    &_position_right {
      right: -2%;
      //margin-right: 2%;
      background-position: top right;
    }
    @media (max-width: $mobile-width) {
      top: -5%;
      &_position_left {

        left: -3%;
        width: 33%;
      }
      &_position_right {

        right: -3%;
        width: 33%;
      }
    }
  }

}


.canvas {
  width: 57%;
  height: 28vw;
  border: 1px solid gray;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.canvas-container {
  position: absolute;
  z-index: 10000;
  width: 100%;
}
