.forms {
  display: none;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  &__popup {
    margin: auto;
  }
}


.popup {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 25%;
  padding: 0px 30px 20px;
  border: 6px solid $add-color;
  box-shadow: inset 0 0 0 8px $main-color, 0 0 0 3px $main-color;
  background-color: #91AAA9;
  &__registration, &__login {
    display: none
  }
}



.label {
  &__name {
    display: block;
    text-align: left;
    padding: 10px 10px;
  }
}

.label-for-checkbox {
  &__wrap {
    text-align: left;
    padding: 35px 0 20px;

  }
  &__name {
    margin-left: 20px;
  }
}

.pseudo-checkbox {
  display: inline;
  padding: 2px 11px;
  border: 2px solid #5D6C6C;
  background-color: #5D6C6C;
  &:hover {
    background-color: $main-color;
  }
}

.checkbox {
  position: absolute;
  opacity: 0;
}

.input-text {
  width: 100%;
  padding: 10px 10px;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  background-color: #5D6C6C;
  color: white;
}

.title-h3 {
  color: white;
  font-size: 2em;
}

.white-link-underlining {
  color: white;
  text-decoration: underline;
}