.header {
  position:fixed;
  z-index:9000;
  top:0;
  left:0;
  right:0;
  width:100%;
  margin:0 auto;
  text-align: center;
  background-color: $main-color;
  &__stub {
    position: static;
  }
  &__container {
    z-index: 2;
  }
}

.menu-container {
  //width: 87px;
  text-align: right;
  font-size: 1.4em;
}

.flags {
  &__image {
    margin: 0 5px;
    filter: grayscale(1);
    &:hover {
      filter: none;
    }
    &_active {
      filter: none;
    }
  }
}

$n: 5;
$e: cubic-bezier(0,.5,.5,1.1);


.menu {
  position: relative;
  cursor: pointer;
  width: 100%;
  padding: 9px;
  text-align: right;
  //@media (max-width: 732px) {
  //  width: 14%;
  //}
  //@media (max-width: 732px) {
  //  width: 24%;
  //}
  &__nav {
    cursor: pointer;
  }
  &__icon {
    vertical-align: middle;
  }
  a {
    width: 92%;
    height: 100%;
    padding: 7px 3%;
    border: 2px solid $add-color;
    background-color: #B3C7C2;
    transform-style: preserve-3d;
    &:hover, &:focus {
      background-color: #37423E;
      color: #B3C7C2;
    }
    &:active {
    }
    @media (max-width: $mobile-width) {
      padding: 7px 3%;
    }
  }


  ul {
    width: 317%;
    text-align: center;
    padding: 0;
    margin-top: 17px;
    z-index: 1;
    list-style-type: none;
    transition: visibility 0ms ease-out 600ms;
    visibility: hidden;
    transform-style: preserve-3d;
    @media (max-width: $mobile-width) {
      width: 95vw;
    }
    @media (max-width: 546px) {
      width: 92vw;
    }
    @media (max-width: 400px) {
      width: 90vw;
    }
    li {
      background: $pat-chain left repeat-y, $pat-chain right repeat-y;
      opacity: 0;
      padding: 4px 10px;
      margin: 0;
      transform-style: preserve-3d;
      @for $i from 1 through $n {
      //  @if $i == 1 {
      //  transition: opacity 100ms ease-out #{-($i - $n - 1)*100}ms;
      //}
        &:nth-child(#{$i}) {
          transition: transform 150ms $e #{-($i - $n - 1)*100}ms, opacity 100ms ease-out #{-($i - $n - 1)*100}ms;
        }
      }

    }
  }

  > ul {
    position: absolute;
    right: 0;
    > li {
      transform: translateY(-100%);
      &:first-child {
        transform: translateY(-5%);
      }
      > h2 {
        transform: translateZ(0.5px);
      }
    }
    //если будет вложенное меню
    //ul {
    //  position: absolute;
    //  top: 0;
    //  right: ; //здесь значение ширины с отрицательным значением, здесь же отнимать и падинг, если будет
    //  > li {
    //    transform: translateX(-100%);
    //  }
    //}
  }
  input {
    appearance: none;
    opacity: 0;
    position: absolute;
    margin: 0;
    //&:hover, &:focus {
    //  ~ h2 {
    //  }
    //}
    //&:active {
    //  ~ h2 {
    //  }
    //}
    &:checked {
      //~ h2 {
      //}
      ~ ul {
        visibility: visible;
        transition: visibility 0ms ease-out 0ms;
        > li {
          opacity: 1;
          transform: none;
          @for $i from 1 through $n {
            &:nth-child(#{$i}) {
              transition: transform 150ms $e #{$i*100}ms, opacity 100ms ease-out #{$i*100}ms;
            }
          }
        }
      }
    }
  }
  //> input {
  //  z-index: 2;
  //  top: 0;
  //  left: 0;
  //  &:not(:checked) {
  //    ~ ul {
  //      > li {
  //        input:checked ~ ul {
  //          li {
  //            opacity: 0;
  //            transform: translateX(-100%);
  //            @for $i from 1 through $n {
  //              &:nth-child(#{$i}) {
  //                transition: transform 150ms $e #{-($i - $n - 1)*100}ms, opacity 100ms ease-out #{-($i - $n - 1)*100}ms;
  //              }
  //            }
  //          }
  //        }
  //      }
  //    }
  //  }
  //}

  //> h2 {
  //  transform: translateZ(1px);
  //  z-index: 1;
  //}
}

#white-background {
  @media (max-width: $mobile-width) {
    position: absolute;
    top: 52px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    display: none;
    opacity: 0;
    animation: all 2s ease;
  }
}
.container {
  margin: 0 auto;
  position: relative;
}


.logo-mini {
  width: 40%;
  position: absolute;
  top: 0%;
  z-index: 1;
  margin: 0 30%;
  //pointer-events: none;
  &__image {
    width: 100px;
    z-index: 9001;
    position: relative;
  }
  &__container {
    width: 200px;
    margin: auto;
    padding: 5px 0 20px 0;
    background: url(../images/common/logo-substrate.png) no-repeat;
    background-size: contain;
    background-position: center;
  }
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.logo {
  &__container {
    width: 539px;
    margin: auto;
    padding: 66px 0 25px 0;
    background-size: contain;
    background-position: center;
  }
  &__image {
    width: 100%;
    z-index: 9001;
    position: relative;
  }
}


//.logo{
//  &__container {
//    width: 539px;
//    margin: auto;
//    padding: 66px 0 25px 0;
//    background-size: contain;
//    background-position: center;
//  }
//  &__image {
//    width: 100%;
//    z-index: 9001;
//    position: relative;
//  }
//  &-mini {
//    width: 100%;
//    position: absolute;
//    top: 0%;
//    z-index: 1;
//    //pointer-events: none;
//    &__image {
//      width: 100px;
//      z-index: 9001;
//      position: relative;
//    }
//    &__container {
//      width: 300px;
//      margin: auto;
//      padding: 5px 0 20px 0;
//      background: url(../images/common/logo-substrate.png) no-repeat;
//      background-size: contain;
//      background-position: center;
//    }
//    @media (max-width: $mobile-width) {
//      display: none;
//    }
//  }
//}