.side-image {
  display: block;

  &_left {
    padding-right: 5%;
    @media (max-width: $third-width) {
      padding-right: 3%;
    }
  }

  &_right {
    padding-left: 5%;
    @media (max-width: $third-width) {
      padding-left: 3%;
    }
  }


  @media (max-width: $fourth-width) {
    display: none;
  }


}

.participate {
  padding: 20px 0;
  background: $stone-color;
  @extend .border-pattern;
  border-top: 2em solid;
  &__text {
    font-size: 1.3em;
    @media (max-width: $first-width) {
      margin: 0 40px;
    }

    @media (max-width: $third-width) {
      margin: 0 50px;
    }

    @media (max-width: $mobile-width) {
      margin: 0;

    }

    &_image_dollar {
      &:before {
        content: url('../img/dollar.png');
        @extend .side-image;
        @extend .side-image_left;
      }
      &:after {
        content: url('../img/dollar.png');
        @extend .side-image;
        @extend .side-image_right;
      }
    }

    &_image_apple {
      &:before {
        content: url('../img/apple.png');
        @extend .side-image;
        @extend .side-image_left;
      }
      &:after {
        content: url('../img/bitten-apple.png');
        @extend .side-image;
        @extend .side-image_right;
      }
    }

    &_border_dark {
      border: 4px solid #4D4D4D;
    }
  }
  &__button {
    margin-top: 10px;
  }
}

.button {
  min-width: 15%;
  padding: 5px 15px;
  border: 6px solid;
  font-size: 1.5em;
  transition: box-shadow 0.3s ease-in-out;
  position: relative;
  z-index: 8000;
  &_gold {
    color: white;
    background-color: $main-color;
    border-color: $add-color;
    &:hover {
      box-shadow: inset 0 0 20px 6px $add-color;
    }
  }

  &_dark {
    color: $main-color;
    background-color: $gray-color;
    border-color: #454E4E;
  }
}