.prize-page-without-clouds {
  position: relative;
  z-index: 1;
  &__small-container {
    display: flex;
    align-items: flex-end;
    flex-wrap: nowrap;
    margin: auto;
    margin-bottom: 40px;
    //padding-left: 3%;
    padding-top: 7%;
    justify-content: center;
    @media (max-width: $fourth-width) {
      flex-direction: column;
    }
    @media (max-width: $mobile-width) {
      margin-bottom: 0;
    }
  }
    &__image {
      width: 22%;
      margin: 0 80px 0 0;

      @media (max-width:$fourth-width) {
        width: 30%;
        margin: auto;
    }
  }
  &__prize-name {
    margin: 0;
    line-height: 1em;
    color: #2E2E2E;
    font-family: Corbel;
    font-size: 5em;
    @media (max-width: $third-width) {
      font-size: 3em;
    }
    @media (max-width: $fourth-width) {
      order: 2;
      margin: 0 auto;
      font-size: 4em;
    }
  }
  &__prize-price {
    font-size: 5em;
    color: #00CC69;
    padding-left: 20px;
    font-weight: normal;
    @media (max-width: $third-width) {
      font-size: 3em;
    }
     @media (max-width: $fourth-width) {
      order: 4;
      margin: auto;
      font-size: 2em;
      padding-left: 0;
    }
  }
  &__prize-text {

    margin: 30px 0;
    line-height: 1em;
    color: #616161;
    font-family: $add-font;
    font-size: 5em;
    @media (max-width: $third-width) {
      font-size: 3em;
    }
    @media (max-width: $fourth-width) {
      order: 3;
      margin: 0 auto;
      font-size: 2em;
    }
    @media (max-width: $mobile-width) {
      margin-bottom: 20px;
    }

  }
  &__timer {
    font-size: 0.4em;
  }
  &__big-font {
    font-size: 1.5em;
  }
  &__text {
    margin: 20px 10px;
  }
  &__participate {
    padding: 20px 30px;
  }
}


.prize-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  @media (max-width: $first-width) {
    max-width: 1000px;
  }
  @media (max-width: $third-width) {
    padding: 0;
  }
}



.steps-container {
  position: relative;
  padding: 3px 0;
  margin: auto;
  max-width: 80%;
  background-color: #7C918C;
  min-width: 245px;
  @media (max-width: $third-width) {
    width: 30%;
    height: 100%;
    padding-bottom: 0;
    flex-direction: column;
  }
}
.steps {
  padding: 6px 20px;

  @media (max-width: $third-width) {
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 6px 50px;
  }

  &__digit {
    color: white;
    padding-right: 10px;
    font-size: 1.5em;
  }
  &-arrow {
    width: 5%;
    min-width: 20px;
    height: 30px;
    background: url(../images/prizes/arrow.png) center no-repeat;
    background-size: contain;
    margin: auto;
    @media (max-width: $third-width) {
      width: 32px;
      height: 22px;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }
}

.gold-text {
  font-family: $main-font;
  color: white;
}
.text-wrap {
  //margin: 20px 10px;
  margin: 0 0 10px;
  font-size: 2em;
  &_add-font {
    font-family: $add-font;
    color: white;
  }
}

.prize-money {
  padding: 20px;
  text-align: center;
  background: $pat-prize-stone no-repeat;
  background-size: 100% 100%;
  box-shadow: inset 0px 0px 0px 3px #89A79F, inset 0px 0px 0px 6px #B4C4BF;
}

.prize {
  text-align: left;
  @media (max-width: $mobile-width) {
    text-align: center;
  }
}

.money-text {
  color: $main-color;
  font-family: $main-font;
  &_mini-size {
    font-size: 0.7em;
  }
}