.terrestrial-world {
  position: relative;
  width: 100%;
  border-top: 5px solid #4D4D4D;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 78%, #b8c6c1 78%, #b8c6c1 88%, #4e4e4e 88%, #4e4e4e 90%, #b8c6c1 90%, #b8c6c1 100%) bottom no-repeat, url(../img/scene.png);

  @media (max-width: $mobile-width) {
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 78%, #b8c6c1 78%, #b8c6c1 83%, #4e4e4e 83%, #4e4e4e 88%, #b8c6c1 88%, #b8c6c1 100%) bottom no-repeat, url(../img/scene.png);
  }
  &:before {
    content: '';
    @extend .pillar;
    @extend .pillar_color_grey;
    @extend .pillar_position_left;
  }
  &:after {
    content: '';
    @extend .pillar;
    @extend .pillar_color_grey;
    @extend .pillar_position_right;
  }
  &__title {
    margin: 0 auto;
    padding-top: 11%;
  }
  &__subtitle {
    margin-top: 5%;
    @media (max-width: $mobile-width) {
      dislay: none;
    }
  }
  &__image {
    @media (max-width: $mobile-width) {
      width: 90%;
    }
  }
}

.title {
  width: 50%;
  color: white;
  text-shadow: 0 -5px 0 #046070;
  @extend ._font__3em;
  @include mini-font_2em ($mobile-width);
  font-weight: normal;
  @media (max-width: $third-width) {
    width: 90%;
  }
}
.subtitle {
  color: #FFB400;
  font-size: 1.5em;
  font-weight: normal;
}
