$main-font: IceAge;
$add-font: ShowCardGothic;
$title-font: 3em;

$main-color: #FFB400;
$add-color: #DE7300;
$add-color-2: #FFD13C;
$add-color-blue-grey: #173750;
$font-color: #35403B;
$gray-color: #5F6E6E;
$stone-color: #B4C3BE;

$first-width: 1550px;
$second-width: 1400px;
$third-width: 1052px;
$fourth-width: 820px;
$mobile-width: 768px;
$mobile-width-mini: 490px;