$main-font: IceAge, sans-serif;
$add-font: SFUI, sans-serif;
$title-font: 3em;

$main-color: #FFB400;
$add-color: #B27214;
$add-color3: #DE7300;
$add-color-2: #FFD13C;
$add-color-blue-grey: #173750;
$font-color: #35403B;
$gray-color: #5F6E6E;
$stone-color: #B4C3BE;

$first-width: 1550px;
$second-width: 1400px;
$third-width: 1052px;
$fourth-width: 820px;
$mobile-width: 768px;
$mobile-width-mini: 490px;

$pat-orange-border-pattern: url("../images/common/pattern1.png");
$pat-greek-pattern: url("../images/common/pattern.png");
$pat-crumb-no-active: url("../images/common/crumb-no-active.png");
$pat-crumb-active: url("../images/common/crumb-active.png");
$pat-cloud-1: url("../images/common/cl1.png");
$pat-cloud-2: url("../images/common/cl2.png");
$pat-cloud-3: url("../images/common/cl3.png");
$pat-cloud-4: url("../images/common/cl4.png");
$pat-cloud-round: url("../images/main/cloud-5.png");
$pat-scene: url("../images/common/scene.png");
$pat-grass: url("../images/common/grass.png");
$pat-ferryman: url("../images/main/ferryman.png");
$pat-underworld: url("../images/main/stone-undeworld.png");
$pat-stone: url("../images/cabinet/stone.png");
$pat-dollar: url("../images/main/dollar.png");
$pat-apple: url("../images/main/apple.png");
$pat-apple1: url("../images/main/bitten-apple.png");
$pat-sanctuary: url("../images/main/sanctuary.png");
$pat-stone-jackpot: url("../images/jackpot/stone.png");
$pat-chain: url("../images/common/mini-chain.png");
$pat-chain-end: url("../images/common/mini-chain-nd.png");
$pat-first-page: url("../images/main/background-first-page.jpg");
$pat-colon-mini: url("../images/main/colone-stand.png");
$pat-statue-fon: url("../images/main/statue-fon.jpg");
$pat-leaf-1: url("../images/main/leaf-1.png");
$pat-leaf-2: url("../images/main/leaf-2.png");
$pat-leaf-3: url("../images/cabinet/leaf-3.png");
$pat-dialog: url("../images/main/dialog.png");
$pat-statue-1: url("../images/main/statue-1.png");
$pat-statue-2: url("../images/main/statue-2.png");
$pat-statue-eyes-1: url("../images/main/statue-1-closed-eyes.png");
$pat-statue-eyes-2: url("../images/main/statue-2-closed-eyes.png");
$pat-prize: url("../images/main/prize (2).png");

$pat-dark-pillar-1: url("../images/common/dark-pillar-top.svg");
$pat-dark-pillar-2: url("../images/common/dark-pillar-2.png");
$pat-dark-pillar-3: url("../images/common/dark-pillar-bottom.svg");

$pat-gold-pillar-1: url("../images/common/gold-pillar-top.svg");
$pat-gold-pillar-3: url("../images/common/gold-pillar-bottom.svg");
$pat-gold-pillar-2: url("../images/common/gold-pillar-2.png");

$pat-grey-pillar-1: url("../images/common/grey-pillar-top.svg");
$pat-grey-pillar-2: url("../images/common/grey-pillar-2.png");
$pat-grey-pillar-3: url("../images/common/grey-pillar-bottom.svg");

$pat-curtain-red: url("../images/common/curtain-2.png");
$pat-curtain-blue: url("../images/common/curtain-blue.png");
$pat-curtain-red-little: url("../images/cabinet/little-red-curtain.png");
$pat-all-pillar-1: url("../images/cabinet/pillar-all-1.png");
$pat-all-pillar-2: url("../images/cabinet/pillar-all-2.png");
$pat-all-pillar-3: url("../images/cabinet/pillar-all-3.png");
$pat-prize-stone: url("../images/prizes/stone.png");

