@import "variables.scss";

@import "extends.scss";

@import "preloader.scss";
@import "button.scss";
@import "logotype.scss";
@import "header.scss";
@import "first-page.scss";
@import "awarding-prizes.scss";
@import "participate.scss";
@import "form.scss";
@import "prizes.scss";
@import "lotery.scss";
@import "terrestrial-world.scss";
@import "seo-section.scss";
@import "footer.scss";
@import "terms-page.scss";
@import "jackpot-page.scss";
@import "prizes-page.scss";
@import "cabinet-page.scss";


@font-face {
  font-family: IceAge;
  src: url(../fonts/IceAgeRUS.ttf)  format('ttf'), url('../fonts/IceAgeRUS.woff') format('woff'), url('../fonts/IceAgeRUS.woff2') format('woff2');
}

@font-face {
  font-family: SFUI;
  src: url(../fonts/SFUIText-RegularG2.otf);
}











* {
  //-webkit-tap-highlight-color: rgba(0,0,0,0);
  &:focus {
    outline: none!important;
  }
}


body {
  //min-width: 1070px;
  margin: 0;
  text-align: center;
  font-size: 14px;
  font-family: $main-font;
  color: $font-color;
  a {
    display: inline-block;
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

}

.mobile-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  //z-index: 1;
}

.mobile-border {
  @media (max-width: $mobile-width) {
    margin-top: 28px;
    box-shadow: 0 -10px 0 0px $main-color, 0 -18px 0 1px #B17011, 0 -15px 0 15px $main-color;
  }
}
.mobile-border-gray {
  @media (max-width: $mobile-width) {
    margin-top: 28px;
    box-shadow: 0 -10px 0 0px #627D7F, 0 -18px 0 1px #3F4C4D, 0 -15px 0 15px #627D7F;
  }
}



.page-container {
  position: relative;
  margin-top: 51px;
  overflow: hidden;
  background: linear-gradient(to bottom, #44dffb 0%,#f9f9f9 73%);
}


.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  @media (max-width: $first-width) {
    max-width: 1000px;
  }
  @media (max-width: $third-width) {
    max-width: 900px;
  }
  &_mob {
    @media (max-width: $mobile-width) {
      padding: 0;
    }
  }
}


.flex-gorizontal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  &_top {
    align-items: flex-start;
  }

  &_bottom {
    align-items: flex-end;
  }

  &_none-vertical-desktop {
    flex-direction: column;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    &_none-vertical {
      flex-direction: row;
    }
  }

}

.orange-border {
  z-index: 8000;
  position: relative;
  padding: 10px 0;
  border-top: 6px solid $add-color;
  border-bottom: 6px solid $add-color;
  background: #FFB326 $pat-orange-border-pattern repeat-x;
  background-size: contain;
  background-origin: content-box;

  @media (max-width: $first-width) {
    height: 5px;
  }

  &_all {
    height: 50px;
    @media (max-width: $mobile-width) {
      height: 10px;
      background-size: 2.5% auto;
    }
  }
  &_part {
    height: 10px;
    background-size: 2.5% auto;
  }
  &_edge {
    height: 5px;
    padding: 2px 0 0;
    border-top: 2px solid $add-color;
    border-bottom: 0;
    background-size: 2.5% auto;
    z-index: 0;
  }
}





.border-pattern {
  border-image: $pat-greek-pattern 100% 0%/1 0 repeat;
}

.crumbs {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 96%;
  width: 100%;
  //z-index: 9000;
  @media (max-width: $mobile-width) {
    position: relative;
    order: 2;
    margin: 0;
  }

}

.hidden {
  display: none;
}


.breadcrumb {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
  .crumb-active {
    color: $main-color;
    background: #8AA59F;
  }
  .crumbs__link {
    display: inline;
    position: relative;
    z-index: 8000;
    a, .crumb-active {
      padding: 5px 2%;
      outline: 1px solid #596E6A;
      outline-offset: -3px;
      font-size: 14px;
      background-size: cover;
      cursor: pointer;
      display: inline-block;
      &:hover {
        color: $main-color;
      }
      @media (max-width: $mobile-width) {
        box-sizing: border-box;
        width: 50%;
        text-align: center;
        order: 2;
      }
      @media (max-width: 450px) {
        font-size: 11px;
      }
    }
    a {
      background-color: #70918C;
    }
  }
}




.clouds {
  //position: absolute;
  //top: 0;
  //bottom: 0;
  //right: 0;
  //left: 0;
  //
  ////max-height: 100vh;
  //z-index: 0;
  position: absolute;
  top: -4%;
  right: 0;
  left: 0;
  z-index: 0;
  height: 800px;
  @media (max-width: 1700px) {
    top: 2%;
  }
  @media (max-width: 1300px) {
    top: 4%;
  }
  @media (max-width: 820px) {
    top: 2%;
  }

  //@media (max-width: 1700px) {
  //  top: 3%;
  //}
  //@keyframes opacityc {
  //  from {
  //    opacity: 1;
  //  }
  //  to {
  //    opacity: 0;
  //  }
  //}
  &_jackpot {
    top: 4%;
  }
  //animation: opacityc 1s 1s linear;
  &_fixed {
    //display: none;
    position: fixed;
    left: 0;
    right: 0;
    //top: 8%;
    top: 51px;
    bottom: 0;
    z-index: 9002;
    overflow: hidden;

  }
  &_bottom {
    top: 1032px;
    //top: 75%;
    width: 170%;
    //bottom: -10%;
    @media (max-width: $third-width) {
      display: none;
    }
    &-default {
      top: auto;
      bottom: -212px;
      height: 1000px;
      //top: 10%;
      //bottom: -3%;
      //height: 1000px;
      //@media (max-width: $first-width) {
      //  top: 15%;
      //  bottom: -19%;
      //}
    }
  }
  &_over-all {
    z-index: 50;
  }
  &__cabinet {
    @media (max-width: 1700px) {
      top: 0;
    }
  }
}
//.cloud-container_bottom-scale {
//  display: none;
//}

.cloud-container {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-animation: rotate 1s infinite alternate linear;
  -moz-animation: rotate 1s infinite alternate linear;
  animation: rotate 1s infinite alternate linear;
  @media (max-width: $mobile-width) {
    display: none;
  }
  &_mobile {
    display: none;
    @media (max-width: $fourth-width) {
      display: block;
      width: 500%;
      top: 70%;
      left: -69%;
      bottom: -4%;
    }
  }

  .cloud {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 8100;
    background-image: $pat-cloud-1;
    background-size: 50%;
    background-repeat: no-repeat;
    //@keyframes rotate {
    //  from {
    //    transform: rotateZ(0deg);
    //  }
    //  to {
    //    transform: rotateZ(0.2deg);
    //  }
    //}
    &__cloud1 {
      background-image: $pat-cloud-2;
      background-size: 51%;
      background-position: top left;
      z-index: 7999;
      //-webkit-animation: rotate1 2s infinite alternate linear;
      //-moz-animation: rotate1 2s infinite alternate linear;
      //animation: rotate1 2s infinite alternate linear;
      //@keyframes rotate1 {
      //  from {
      //    transform: rotateZ(0deg);
      //  }
      //  to {
      //    transform: rotateZ(2deg);
      //  }
      //}
    }
    &__cloud2 {
      background-image: $pat-cloud-3;
      background-size: 39%;
      background-position: 6% 10%;
      z-index: 8102;
      //-webkit-animation: rotate2 15s infinite linear;
      //-moz-animation: rotate2 15s infinite linear;
      //animation: rotate2 15s infinite linear;
      //@keyframes rotate3 {
      //  0% {
      //    transform: rotate(0deg) translateX(0px) translateY(0px);
      //  }
      //  25% {
      //    transform: rotate(2deg) translateX(70px) translateY(30px);
      //  }
      //  50% {
      //    transform: rotate(0deg) translateX(150px) translateY(0px);
      //  }
      //  75% {
      //    transform: rotate(2deg) translateX(70px) translateY(-30px);
      //  }
      //  100% {
      //    transform: rotate(0deg) translateX(0px) translateY(0px);
      //  }
      //}
    }
    &__cloud3 {
      background-image: $pat-cloud-4;
      background-size: 28%;
      background-position: 9% 16%;
      z-index: 8103;
      opacity: 0.3;
      -webkit-animation: rotate3 20s infinite linear;
      -moz-animation: rotate3 20s infinite linear;
      animation: rotate3 20s infinite linear;

      //@keyframes rotate2 {
      //  0% {
      //    transform: rotate(0deg) translateX(0px) translateY(0px);
      //  }
      //  25% {
      //    transform: rotate(4deg) translateX(20px) translateY(10px);
      //  }
      //  50% {
      //    transform: rotate(0deg) translateX(40px) translateY(0px);
      //  }
      //  75% {
      //    transform: rotate(4deg) translateX(20px) translateY(-10px);
      //  }
      //  100% {
      //    transform: rotate(0deg) translateX(0px) translateY(0px);
      //  }
      //}
    }

  }
  &_bottom-scale {
    left: 26%;
    top: 25%;
    z-index: 8001;
    display: none;
  }
  &_left-big {
    left: -11%;
    top: -7%;
    z-index: 8001;
  }

  &_right-big {
    left: 61%;
    top: -7%;
    z-index: 8001;

  }
  &_bottom-big {
    width: 120%;
    left: 18%;
    top: -10%;
    z-index: 0;
    -webkit-animation: rotate 30s -1s infinite alternate linear;
    -moz-animation: rotate 30s -1s infinite alternate linear;
    animation: rotate 30s -1s infinite alternate linear;
  }
  &_left-small {
    width: 65%;
    left: -10%;
    top: 17%;
    z-index: 7000;
  }
  &_second-small {
    width: 65%;
    left: 18%;
    top: 17%;
  }
  &_third-small {
    width: 65%;
    left: 41%;
    top: 17%;
  }
  &_right-small {
    width: 65%;
    right: -36%;
    top: 18%;
    z-index: 7000;
    -webkit-animation: rotate 30s -7s infinite alternate linear;
    -moz-animation: rotate 30s -7s infinite alternate linear;
    animation: rotate 30s -7s infinite alternate linear;
  }
  &_left-medium {
    left: -11%;
    top: -7%;
    width: 70%;
    z-index: 0;
  }
  &_around-left-medium {
    left: 17%;
    top: -7%;
    width: 70%;
    z-index: 0;
  }
  &_center-center-medium {
    left: 33%;
    //top: -23%;
    top: -179px;
    width: 70%;
    z-index: 0;
  }
  &_center-left-medium {
    left: 15%;
    //top: -30%;
    top: -229px;
    width: 70%;
    z-index: 0;
  }
  &_center-right-medium {
    left: 51%;
    //top: -30%;
    top: -229px;
    width: 70%;
    z-index: 0;
  }
  &_border-left-medium {
    left: -19%;
    //top: -30%;
    top: -229px;
    width: 70%;
    z-index: 0;
  }
  &_border-right-medium {
    left: 84%;
    //top: -24%;
    top: -190px;
    width: 70%;
    z-index: 0;
  }
  &_center-page {
    //left: 24%;
    //width: 110%;
    //top: 0;
    //opacity: 0.9;
    left: 33%;
    top: -23%;
    width: 70%;
    z-index: 0;
  }
  &_left-bottom {
    left: -8%;
    top: 64%;
    width: 81%;
    z-index: 0;
  }
  &_right-bottom {
    left: 78%;
    top: 64%;
    width: 81%;
    z-index: 0;
  }
  &_left-bottom-jackpot {
    left: -34%;
    top: 6%;
    width: 131%;
    z-index: 8001;
  }
  &_right-bottom-jackpot {
    left: 36%;
    top: 1%;
    z-index: 8001;
  }
  &_right-bottom-middle-jackpot {
    left: 33%;
    top: -15%;
    width: 102%;
  }
  &_center-middle-jackpot {
    width: 73%;
    left: 12%;
    top: -25%;
  }
  &_left-middle-jackpot {
    width: 97%;
    left: -21%;
    top: -27%;
  }
}


.cloud-mobile {
  @media (max-width: $mobile-width) {
    display: block;
    background-position: -89% 12%;
    z-index: 80;
    transform: scale(1.2);
    background-size: 75%;
  }
}



.activ {
  display: block;
}

